@font-face {
  font-family: 'GotamPro Reg';
  src: url(../fonts/GOTHAPROREG.OTF) format('opentype');
}
@font-face {
  font-family: 'GotamPro Bold';
  src: url(../fonts/GOTHAPROBOL.OTF) format('opentype');
}
@font-face {
  font-family: 'GotamPro Black';
  src: url(../fonts/GOTHAPROBLA.OTF) format('opentype');
}