*:focus {
  outline: none;
}
.container {
  max-width: 1380px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;

  &--header-flex {
    display: flex;
    align-items: flex-start;
    height: 100%;

    @media (max-width: 460px) {
      align-items: center;
    }

  &--project {
    max-width: 840px;
  }

    @media (min-width: $tablet-lg-width) {
      align-items: center;
    }
  }
}
.sp-page .container--project {
  max-width: 840px;
}
.ui-loader,
.ui-checkboxradio-icon-space,
.ui-checkboxradio-icon {
  display: none!important;
}

