.container {
  max-width: 1380px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;

  &--header-flex {
    display: flex;
    align-items: center;

    @media (min-width: $tablet-lg-width) {
      align-items: center;
    }
  }
}