$basic-yellow: #fcd417;
$basic-dark-blue: #161a36;
$basic-grey: #5d6369;
$basic-white: #fff;
$scroll-bar-bg: #2d3032;
$basic-darken-blue: #15181b;
$basic-panel-item-bg: #2e3237;
$logo-slogan: #737476;