div.callback-form-block
    h3.callback-form__header Написать #[br] нам
    p.callback-form__comment Если у Вас есть вопросы, напишите нам и наш менеджер свяжется с Вами в ближайшее время!
    form.callback-form
        div.callback-form-input-group
            input(type='text', name='name', required, placeholder='Ваше имя').callback-form__input
            input(type='text', name='email', required, placeholder='Ваше email').callback-form__input
            input(type='text', name='msg', required, placeholder='Ваше сообщение').callback-form__input
        input(type='submit', value='Отправить').callback-form__submit