section.cashback-block.main-section-slide
    div.about-wrapper
        div.about-left
            a(href='#').company-about__link Подробнее

            div.company-about-team
                h2.company-about-team__header Дадим 20% с каждого клиента
                p.company-about-team__descr Получай до 20% кэшбэка за приведенного клиента
        div.about-right
