section.company-about.main-section-slide
    div.about-wrapper
        div.about-left
            a(href='#').company-about__link Вся команда

            div.company-about-team
                h2.company-about-team__header Комманда
                p.company-about-team__descr В нашей компании работают профессионалы своего дела
        div.about-right
            div.company-about-gallery
                div(style='background-image: url(img/team/team-photo-1.jpg)').company-about-gallery-item
                    div.teammate-info
                        h3.teammate-info__name Денис Никаноров
                        p.teammate-info__pos БигБосс
                div(style='background-image: url(img/team/team-photo-1.jpg)').company-about-gallery-item
                    div.teammate-info
                        h3.teammate-info__name Денис Никаноров
                        p.teammate-info__pos БигБосс
                div(style='background-image: url(img/team/team-photo-1.jpg)').company-about-gallery-item
                    div.teammate-info
                        h3.teammate-info__name Денис Никаноров
                        p.teammate-info__pos БигБосс
                div(style='background-image: url(img/team/team-photo-1.jpg)').company-about-gallery-item
                    div.teammate-info
                        h3.teammate-info__name Денис Никаноров
                        p.teammate-info__pos БигБосс
                div(style='background-image: url(img/team/team-photo-1.jpg)').company-about-gallery-item
                    div.teammate-info
                        h3.teammate-info__name Денис Никаноров
                        p.teammate-info__pos БигБосс
                div(style='background-image: url(img/team/team-photo-1.jpg)').company-about-gallery-item
                    div.teammate-info
                        h3.teammate-info__name Денис Никаноров
                        p.teammate-info__pos БигБосс

