section.contacts-block.main-section-slide
    div.about-wrapper
        div.about-left
            div.company-about-team
                h2.company-about-team__header Контакты
                p.company-about-team__descr +7 (812) 123-45-67
                p.company-about-team__descr info@borodaboroda.com
                p.company-about-team__descr Санкт-Петербург, 17 Линия В.О. 4-6, офис 505
        div.about-right
