section.project-block.main-section-slide
    div.about-wrapper
        div.about-left
            a(href='./project.html').company-about__link Посмотреть

            div.company-about-team
                h2.company-about-team__header 4Corners
                p.company-about-team__descr Разработка брендинга и сайта для клуба единоборств
        div.about-right
            div.project-mockup-wrapper
                img(src='img/mockups/4corners-mockup.png')
