doctype html
html
    include templates/head
    body.main-page
        include templates/header
        main
            div.container
                section.about
                    div.about-left
                        ul.about-controls
                            li.about-controls-item.about-controls-item--active 1
                            li.about-controls-item 2
                            li.about-controls-item 3
                        div.about-description
                            article.about-description-item.about-description-item--active
                                h2.about-description-item__header Дизайн -
                                p.about-description-item__text это первое из трех направлений деятельности нашей компании
                            article.about-description-item
                                h2.about-description-item__header Дизайн -
                                p.about-description-item__text это первое из трех направлений деятельности нашей компании
                            article.about-description-item
                                h2.about-description-item__header Дизайн -
                                p.about-description-item__text это первое из трех направлений деятельности нашей компании

                    div.about-right
                        div.about-categories-wrapper
                            article.about-categories-item
                                h2.about-categories-item__header UI/UX
                                p.about-categories-item__comment Дизайн интерфейсов
                                div.about-categories-item-slogan
                                    div.about-categories-item-img-wrapper
                                        img(src='./img/png-icons/comfort-icon.png', alt='ui-icon').about-categories-item__img
                                    p.about-categories-item-slogan__text Сделать удобно
                            article.about-categories-item
                                h2.about-categories-item__header WEB - дизайн
                                p.about-categories-item__comment Дизайн сайтов и мобильных приложений
                                div.about-categories-item-slogan
                                    div.about-categories-item-img-wrapper
                                        img(src='./img/png-icons/available-icon.png', alt='ui-icon').about-categories-item__img
                                    p.about-categories-item-slogan__text Сделать удобно
                            article.about-categories-item
                                h2.about-categories-item__header Брендинг
                                p.about-categories-item__comment Логотипы, фирменный стиль
                                div.about-categories-item-slogan
                                    div.about-categories-item-img-wrapper
                                        img(src='./img/png-icons/beauty-icon.png', alt='ui-icon').about-categories-item__img
                                    p.about-categories-item-slogan__text Сделать удобно


        include templates/footer-links
