doctype html
html
    include templates/head
    body.projects-page
        include templates/callback-btn
        include templates/header
        main.projects
            div.container
                h1.projects__header Наши работы
                div.projects-panel
                    div.projects-panel-types
                        h2.projects-panel-types__header Тип работ:
                        ul.projects-panel-types-list
                            li.projects-panel-types-item
                                label
                                    input(type='radio', name='type', checked)
                                    span Брендинг
                            li.projects-panel-types-item
                                label
                                    input(type='radio', name='type')
                                    span Сайты
                            li.projects-panel-types-item
                                label
                                    input(type='radio', name='type')
                                    span Приложения
                    div.projects-panel-business
                        h2.projects-panel-business__header Сферы деятельности:
                        ul.projects-panel-business-list
                            li.projects-panel-business-item
                                label
                                    input(type='checkbox', name='business', checked)
                                    span Рестораны
                            li.projects-panel-business-item
                                label
                                    input(type='checkbox', name='business')
                                    span Производство
                            li.projects-panel-business-item
                                label
                                    input(type='checkbox', name='business', checked)
                                    span Красота и здоровье
                            li.projects-panel-business-item
                                label
                                    input(type='checkbox', name='business')
                                    span Строительство
                section.projects-examples
                    article(style='background-image: url(img/projects/projects-img1.jpg)').projects-examples-item
                        div.project-info-wrapper
                            h2.project__header Альянсремстрой
                            p.project__type Логистика и перевозки. Спб
                            p.project__props
                                span Брендинг
                                span.project-decor-sep /
                                span Разработка
                                span.project-decor-sep /
                                span Маркетинг
                            p.project__year 2017 год
                    article(style='background-image: url(img/projects/projects-img2.jpg)').projects-examples-item
                        div.project-info-wrapper
                            h2.project__header Альянсремстрой
                            p.project__type Логистика и перевозки. Спб
                            p.project__props
                                span Брендинг
                                span.project-decor-sep /
                                span Разработка
                                span.project-decor-sep /
                                span Маркетинг
                            p.project__year 2017 год
                    article(style='background-image: url(img/projects/projects-img3.jpg)').projects-examples-item
                        div.project-info-wrapper
                            h2.project__header Альянсремстрой
                            p.project__type Логистика и перевозки. Спб
                            p.project__props
                                span Брендинг
                                span.project-decor-sep /
                                span Разработка
                                span.project-decor-sep /
                                span Маркетинг
                            p.project__year 2017 год
                    article(style='background-image: url(img/projects/projects-img4.jpg)').projects-examples-item
                        div.project-info-wrapper
                            h2.project__header Альянсремстрой
                            p.project__type Логистика и перевозки. Спб
                            p.project__props
                                span Брендинг
                                span.project-decor-sep /
                                span Разработка
                                span.project-decor-sep /
                                span Маркетинг
                            p.project__year 2017 год
                    article(style='background-image: url(img/projects/projects-img5.jpg)').projects-examples-item
                        div.project-info-wrapper
                            h2.project__header Альянсремстрой
                            p.project__type Логистика и перевозки. Спб
                            p.project__props
                                span Брендинг
                                span.project-decor-sep /
                                span Разработка
                                span.project-decor-sep /
                                span Маркетинг
                            p.project__year 2017 год
                    article(style='background-image: url(img/projects/projects-img6.jpg)').projects-examples-item
                        div.project-info-wrapper
                            h2.project__header Альянсремстрой
                            p.project__type Логистика и перевозки. Спб
                            p.project__props
                                span Брендинг
                                span.project-decor-sep /
                                span Разработка
                                span.project-decor-sep /
                                span Маркетинг
                            p.project__year 2017 год
                    article(style='background-image: url(img/projects/projects-img7.jpg)').projects-examples-item
                        div.project-info-wrapper
                            h2.project__header Альянсремстрой
                            p.project__type Логистика и перевозки. Спб
                            p.project__props
                                span Брендинг
                                span.project-decor-sep /
                                span Разработка
                                span.project-decor-sep /
                                span Маркетинг
                            p.project__year 2017 год
                    article(style='background-image: url(img/projects/projects-img8.jpg)').projects-examples-item
                        div.project-info-wrapper
                            h2.project__header Альянсремстрой
                            p.project__type Логистика и перевозки. Спб
                            p.project__props
                                span Брендинг
                                span.project-decor-sep /
                                span Разработка
                                span.project-decor-sep /
                                span Маркетинг
                            p.project__year 2017 год

