doctype html
html
    include templates/head
    body.sp-page
        include templates/callback-btn
        include templates/header
        main.sp
            div.container.container--project
                h1.sp__header 4 corners
                p.sp__text
                    | Равным образом начало повседневной работы по формированию позиции требуют определения
                    | и уточнения форм развития. Таким образом сложившаяся структура организации играет важную
                    | роль в формировании новых предложений.
                p.sp__text
                    | Идейные соображения высшего порядка, а также дальнейшее развитие различных форм
                    | деятельности играет важную роль в формировании новых предложений. Разнообразный
                    | и богатый опыт укрепление и развитие структуры представляет собой интересный эксперимент
                    | проверки соответствующий условий активизации.
                div.sp-img-wrapper
                    img(src='/img/sp/4corners/4corners.jpg', alt='project-img').sp__img
                p.sp__text
                    | Значимость этих проблем настолько очевидна, что постоянное информационно-
                    | пропагандистское обеспечение нашей деятельности играет важную роль в формировании
                    | новых предложений. Не следует, однако забывать, что рамки и место обучения кадров позволяет
                    | оценить значение новых предложений. Таким образом сложившаяся структура организации
                    | позволяет оценить значение соответствующий условий активизации.
                div.sp-img-wrapper
                    img(src='/img/sp/4corners/4corners2.jpg', alt='project-img').sp__img
                p.sp__text
                    | Значимость этих проблем настолько очевидна, что постоянное информационно-
                    | пропагандистское обеспечение нашей деятельности играет важную роль в формировании
                    | новых предложений. Не следует, однако забывать, что рамки и место обучения кадров позволяет
                    | оценить значение новых предложений. Таким образом сложившаяся структура организации
                    | позволяет оценить значение соответствующий условий активизации.
                button.sp-order-btn Сделать также
            div.container
                div.sp-breadcrumbs-wrapper
                    div.sp-breadcrumbs-prev
                        div.sp-breadcrumbs-prev__header Скажи вкусно!
                        div.sp-breadcrumbs-prev__link Предыдущий проект
                    div.sp-breadcrumbs-next
                        div.sp-breadcrumbs-next__header AT Hockey Academy
                        div.sp-breadcrumbs-next__link следующий проект
    include templates/callback-form-block
    script(src='./js/vendor/svg4everybody.min.js')
    script(src='./js/adaptiveMenu.js')
