.about-categories-wrapper {
  display: none;
  animation-name: bounceInRight;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.about-categories-wrapper--active {
  display: grid;
  grid-template-columns: 175px 175px;
  grid-column-gap: 15px;

  @media (min-width: $tablet-lg-width) {
    grid-column-gap: 105px;
    grid-row-gap: 40px;
    grid-template-columns: auto auto;

  }
}
.about-categories-wrapper--cgm {

}
.about-categories-item {
  color: $basic-white;
  width: 196px;

  &:first-of-type {
    grid-column: 1;
    grid-row: 1;
  }

  &:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2
  }

  &:last-of-type {
    grid-column: 2;
    grid-row: 2;
  }

  @media (min-width: $tablet-lg-width) {
    width: 320px;
  }
}
.about-categories-item__header {
  @include gotham-black;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 18px;

  @media (max-width: 460px) {
    font-size: 18px;
  }
}
.about-categories-item__comment {
  @include gotham-reg;
  font-size: 14px;
  margin-bottom: 35px;
}
.about-categories-item-slogan {
  display: flex;
  align-items: center;
}
.about-categories-item-slogan__text {
  @include gotham-bold;
  font-size: 12px;
  color: $basic-yellow;
  text-transform: uppercase;
  margin-left: 25px;

  @media (max-width: 460px) {
    margin-left: 12px;
  }
}