.about-description {
  color: $basic-white;
}
.about-description-item {
  display: none;
  width: 420px;
  animation-name: bounceInLeft;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: .7s;
  
  &--active {
    display: block;
  }
}
.about-description-item__header {
  @include gotham-black;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  text-transform: uppercase;
}
.about-description-item__text {
  @include gotham-reg;
  font-size: 24px;
  line-height: 1.8;
  text-transform: uppercase;
}