.cashback-block {
  display: flex;
  height: 100%;
  background-image: url(../img/bg/cashback-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}