.company-about {
  display: flex;
  height: 100%;
  background-image: url(../img/bg/team-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.company-about .about-right {
  flex: 0 1 750px;
}
.company-about__link {
  @include gotham-black;
  font-size: 16px;
  color: $basic-yellow;
  text-decoration: none;
  padding-right: 35px;
}
.company-about-team__header {
  @include gotham-black;
  font-size: 48px;
  color: $basic-white;
  margin-top: 100px;
  margin-bottom: 30px;

  @media (max-width: 460px) {
    margin-top: 25px;
    font-size: 32px;
  }
}
.company-about-team__descr {
  @include gotham-reg;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.8;
  color: $basic-white;
  max-width: 400px;

  @media (max-width: 460px) {
    font-size: 18px;
  }
}
.company-about-gallery {
  display: grid;
  grid-template-columns: auto auto auto;

  @media (max-width: 460px) {
    width: 100vw;
    grid-template-columns: 192px 192px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
.company-about-gallery-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.teammate-info {
  position: relative;
  padding-top: 125px;
  padding-bottom: 25px;
  cursor: pointer;

  &:hover:before {
    background-color: rgba(1, 1, 1, 0.2);
  }

  &:hover > .teammate-info__name {
    color: $basic-white;
  }

  &:hover > .teammate-info__pos {
    color: $basic-yellow;
  }
}
.teammate-info:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;
  transition: background-color .3s;
}
.teammate-info__name {
  @include gotham-black;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  color: transparent;
  transition: .3s;

}
.teammate-info__pos {
  @include gotham-reg;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  color: transparent;
  transition: .3s;
}
