.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $basic-yellow;
  z-index: 80;

  @media (min-width: $tablet-lg-width) {
    background-color: transparent;
    padding-top: 45px;
  }
}
.header-logo-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;

  @media (min-width: $tablet-lg-width) {
    margin-left: 0;
  }
}
.header-logo-img-wrapper {
  width: 35px;

  @media (min-width: $tablet-lg-width) {
    width: 112px;
  }
}
.header-logo-slogan {
  @include gotham-reg;
  font-size: 12px;
  color: $logo-slogan;
  padding-top: 15px;
  display: none;
  
  @media (min-width: $tablet-lg-width) {
    display: block;
    margin: 0;
  }
}
.header-logo-img {
  width: 100%;
  height: auto;
}
.header-nav {
  display: none;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: $basic-yellow;
  
  @media (min-width: $tablet-lg-width) {
    position: static;
    display: block;
    visibility: visible;
    flex: 0 1 615px;
    height: auto;
    padding-bottom: 20px;
    background-color: transparent;
  }
  
  &--open {
    display: block;
    animation: bounceInLeft;
    animation-duration: .4s;

  }
}
.header-nav__header {
  @include gotham-black;
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 55px;
  text-transform: uppercase;
  
  @media (min-width: $tablet-lg-width) {
    display: none;
  }
}
.header-nav-list {
  @include list-reset;
  
  @media (min-width: $tablet-lg-width) {
    display: flex;
    justify-content: space-between;
    width: 630px;
    margin-right: 105px;
  }
}
.header-nav-item {
  margin-bottom: 35px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-lg-width) {
    margin-bottom: 0;
  }
}
.header-nav__link {
  @include gotham-reg;
  @include link-reset;
  font-size: 28px;
  color: $basic-dark-blue;

  @media (min-width: $tablet-lg-width) {
    color: $basic-white;
    font-size: 14px;
  }
}
.header-nav__link--active {
  @media (min-width: $tablet-lg-width) {
    color: $basic-yellow;
  }
}
.header-contacts {
  display: none;
  
  @media (min-width: $tablet-lg-width) {
    display: block;
  }
}
.header-contacts-phone {
  @include gotham-black;
  color: $basic-white;

  @media (min-width: $tablet-lg-width) {
    font-size: 24px;
    font-weight: bold;
  }
}
.header-contacts-socials {
  @include list-reset;
  display: flex;
}
