.header-nav-controls-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-lg-width) {
    display: none;
  }
}
.header-nav-controls-text,
.header-callback-text{
  @include gotham-reg;
  font-size: 12px;
  display: none;
  color: $basic-dark-blue;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: $tablet-lg-width) {
    display: block;
  }
}
.header-nav-controls-btn span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  background-color: $basic-dark-blue;

  &:last-of-type {
    margin-bottom: 0;
  }
}
.header-callback-controls {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  @media (min-width: $tablet-lg-width) {
    display: none;
  }
}
.nav-toggle {
  cursor: pointer;
}
