.main-section-container {
  height: 100%;
  display: flex;
  overflow-x: hidden;

  @media (max-width: 460px) {
    height: auto;
  }
}
.main-section-slide {
  flex: 0 0 100%;
}
.slides-wrapper {
  max-width: 100%;
  display: flex;
  flex: 1;
  transition: transform .7s;

  @media (max-width: 460px) {
    max-width: inherit;
    width: 100vw;
  }
}