.project-block {
  display: flex;
  height: 100%;
  background-image: url(../img/bg/project-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-mockup-wrapper {
  max-width: 80%;

  & > img {
    max-width: 100%;
    height: auto;
  }
}
.project-block .company-about-team__header {
  text-transform: uppercase;
}
